* { box-sizing: border-box; margin: 0; padding: 0; }
html,
body {
    height: 100%;
    background: #000;
}

body,
.__root {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

svg {
    height: 100%;
    width: 100%;
}

.icon {
    max-width: 100px;
    max-height: 100px;
    min-width: 70px;
    min-height: 70px;
    height: 10vw;
    width: 10vw;
}

path {
    transform-origin: 9px 9px;
    animation: path-animation 2s cubic-bezier(0.620, 0.530, 0.205, 0.375) infinite alternate-reverse, rotate-forever 1.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite;
}

@keyframes rotate-forever {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}   

@keyframes path-animation {
    0% {
        d: path("M -0.701 7.085 C -1.321 -0.558 8.284 -2.83 2.294 4.193 C 0.228 13.592 6 15 10.35 15.347 C 15.101 14.418 16.3227 8.7001 12.3518 3.9593 C 10.058 2.6047 7.8178 2.4096 6.1634 4.2955 C 5.3383 6.7372 6.0918 8.5655 8.6054 9.0564 C 10 9 9.5485 7.616 11 8 C 12.1449 8.9163 10.8958 11.3572 8.3965 11.6447 C 4.9237 10.7652 3.2372 8.4992 3.3369 4.8465 C 3.4396 3.9396 3.8571 3.0978 4.5167 2.468 C 8.4881 -0.5532 12.1512 0.0574 15.5061 4.2998 C 18.5045 8.9058 17.167 13.385 13.655 16.38 C 9.73 19.169 -1.837 16.69 -0.598 7.085")
    }
    50% {
        d: path("M 2 13 C -2 8 2 6 2 9 C 4 13 6 15 12 15 C 16.1189 12.5533 16.3227 8.7001 12.3518 3.9593 C 10.058 2.6047 7.8178 2.4096 6.1634 4.2955 C 5.3383 6.7372 6.0918 8.5655 8.6054 9.0564 C 10 9 9.5485 7.616 11 8 C 12.1449 8.9163 10.8958 11.3572 8.3965 11.6447 C 4.9237 10.7652 3.2372 8.4992 3.3369 4.8465 C 3.4396 3.9396 3.8571 3.0978 4.5167 2.468 C 8.4881 -0.5532 12.1512 0.0574 15.5061 4.2998 C 18.5045 8.9058 17.1351 13.0451 14 16 C 10.1763 17.8004 6.7402 17.0071 2 13")
    }
    100% {
        d: path("M 5 16 C 2 14 0 12 3 12 C 9 17 10 15 12 14 C 15 12 16.3227 8.7001 12.3518 3.9593 C 10.058 2.6047 7.8178 2.4096 6.1634 4.2955 C 5.3383 6.7372 6.0918 8.5655 8 9 C 11 9 5 5 9 5 C 12 7 12 11 8.3965 11.6447 C 5 12 3.2372 8.4992 3.3369 4.8465 C 3.4396 3.9396 3.8571 3.0978 4.5167 2.468 C 8.4881 -0.5532 12.1512 0.0574 15.5061 4.2998 C 18.5045 8.9058 17.1351 13.0451 14 16 C 10.1763 17.8004 6.7402 17.0071 5 16")
    }
}